# Ultra minimal configuration for very small test datasets
# This is designed for the fastest possible testing

params {
    genome = "test/test_genome.fna"
    proteins = "test/test_proteins.faa"
    species = "test_species"
    busco_db = "bacteria_odb10"
    outdir = "test_results"
}

// Extremely reduced resource requirements
process {
    withName: CLEAN_HEADERS {
        cpus = 1
        memory = "1.GB"
        time = "5.m"
    }
    
    withName: REPEATMODELER {
        cpus = 1
        memory = "2.GB"
        time = "30.m"
    }
    
    withName: REPEATMASKER {
        cpus = 1
        memory = "2.GB"
        time = "15.m"
    }
    
    withName: BRAKER3 {
        cpus = 2
        memory = "4.GB"
        time = "1.h"
    }
    
    withName: BUSCO {
        cpus = 1
        memory = "2.GB"
        time = "15.m"
    }
}

// Use local execution for testing
executor {
    name = 'local'
    cpus = 2
    memory = '4 GB'
}
