// Configuration for synthetic test data (small size)
params {
    genome = "test/test_genome.fna"
    proteins = "test/test_proteins.faa"
    rna_seq = "test/test_rnaseq.fastq"
    species = "synthetic_test_species"
    outdir = "synthetic_test_results"
}

process {
    executor = 'local'
    
    withName: CLEAN_HEADERS {
        cpus = 1
        memory = "1.GB"
        time = "10.m"
    }
    
    withName: REPEATMODELER {
        cpus = 2
        memory = "2.GB"
        time = "30.m"
    }
    
    withName: REPEATMASKER {
        cpus = 2
        memory = "2.GB"
        time = "30.m"
    }
    
    withName: BRAKER3 {
        cpus = 2
        memory = "4.GB"
        time = "1.h"
    }
    
    withName: BUSCO {
        cpus = 1
        memory = "2.GB"
        time = "30.m"
    }
}
